<style>
    .all{
        margin: 30px 0 0 600px;
    }
    .bcontent1 {
                margin-top: 30px;
            }
    </style>
    
    <div class="col-md ml-5 all">
        <div class="row">
            <h1 class="playlistt">Links</h1>
         <% for( const item of link) {%>
            <div class="col-md-3">

      
         <div class="card mt-3  allGalarey" style="width: 600px;">
             <div class=" ">
                 <div class="col-sm-3 mt-3">
                    <a href="<%= item.link  %>">Premyera</a>
                 </div>
                 <% if (user.role === 'menejer') { %>
                 <div class="col-sm-2">
                    
                    <form method="POST" action="<%=`/link/${item._id}?_method=DELETE`%>">
                        <button type="submit" class="btn btn-danger">Delete</button>
                       
                       </form>
                
                       <%} else { %>
                    
                        <% } %>
                 </div>
             </div>
         </div>
        </div> 
         <% } %> 

    </div>
    </div>