<!DOCTYPE html>
<!-- <html xmlns="http://www.w3.org/1999/xhtml"> -->
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Bootstrap Admin Template : Binary Admin</title>
	
</head>
<body>
    <div id="wrapper">
     
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wrapper fadeInDown">
                            <div id="formContent">
                              <!-- Tabs Titles -->
                          
                              <!-- Icon -->
                              <div class="fadeIn first mt-2">
                                <h4 class="text">Playlist Qo'shish</h4>
                              </div>
                          
                              <!-- Login Form -->
                              <form method="post" action="/playlist/add" enctype="multipart/form-data">
                              
                                <input type="text" id="login" class="fadeIn second mt-2" name="name" placeholder="Musiqa nomini kiriting ">
                                <input type="text" id="password" class="fadeIn third mt-3" name="author" placeholder="Author ">
                                
                                <input type="text" id="password" class="fadeIn third mt-3" name="text" placeholder="Qo'shiq matnini kiriting">
                                <label for="image">Rasm kiriting</label>
                                <input type="file" id="login image" class="fadeIn second mt-2 ml-5" name="image" placeholder="image kiriting">
                                <label for="music">Musiqa kiriting</label>
                                <input type="file" id="login music" class="fadeIn second mt-2 ml-5" name="music" placeholder="musiqa kiriting">
                                <input type="submit" class="fadeIn fourth mt-3" value=" yuklash ">
                              </form>
                          
                             
                          
                            </div>
                          </div>
                          </div>
             


              
                 </div>

   </div>
   </div>
   </div>
   </div>
</body>
</html>
